.box {
  width: 250px;
  height: 260px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 6px rgba(35, 35, 35, 0.492);
  overflow: hidden;
}

.name {
  border-radius: 10px;
}
.details p {
  margin-left: 20px;
}

.it1,
.it2,
.it3 {
  border-radius: 10px;
  margin-bottom: 2px;
}

.details p {
  font-size: 14px;
  color: #ccc;
  font-weight: bold;
}
