.box {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 10px rgba(35, 35, 35, 0.492);
  overflow: hidden;
}
.img {
  width: 100%;
  background-color: #e0e0e0;
  height: 140px;
}
.image {
  width: 100%;
  object-fit: cover;
  height: 125px;
}
.name {
  border-radius: 10px;
}
.details p {
  margin-left: 20px;
}

.it1,
.it2,
.it3 {
  border-radius: 10px;
  margin-bottom: 2px;
}

.details p {
  font-size: 14px;
  color: #ccc;
  font-weight: bold;
}
