* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-box {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.child1 {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  


  
}

.flag-card {
  width: 500px;
  height: 370px;
  object-fit: contain; 
  
  
}

.nav-link-back p {
  font-weight: 300;
}

.nav-link-back {
  margin-bottom: 40px;

  display: flex;
  text-decoration: none;
  display: flex;
  gap: 10px;
  border-radius: 2px;
  width: 100px;
  border: 1px solid transparent;
  padding: 10px;
}

.back {
  color: var(--dark);
}

.child2 {
  margin-left: 70px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 140px;
  gap: 40px;
  height: 30%;
}

.item1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-box h1 {
  color: var(--dark);
  font-weight: 400;
  position: absolute;
  top: 140px;
  left: 570px;
}

.item1,
.item2 p {
  color: var(--dark);
  font-size: 16px;
  font-weight: bold;
}

.main-box span {
  margin-left: 5px;
  font-weight: 300;
}
.native-name {
  display: block;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 300px;
}

.no--border {
  color: var(--dark);
  font-weight: 300;
  font-size: 16px;
}

.border-container {
 position: absolute;
 bottom: 25px;
 left: 570px;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.border-links {
  display: flex;
  align-items: center;
  width: 170px;
  overflow-x: scroll; 
  overflow-y: hidden;
}

.border-links::-webkit-scrollbar {
  height:6px;
}

.border-links::-webkit-scrollbar-thumb {
  background-color: #888;

  
}

.border-links .nav-link {
  border: 1px solid transparent;
  color: var(--dark);
  font-size: 14px;
  padding: 8px;
  border-radius: 20px;
}

.border-links .nav-link:hover {
  background: var(--secondary);
}

.item2 {
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.border-countries {
  color: var(--dark);
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
