

input{   
    background-color: white;
    width: 380px;
    padding: 20px;
    color: black;
    border: none;
    outline: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    
    color: var(--dark);
    border: 1px solid #ccc;
    border-radius: 4px;   
   

}



  
input:focus{
    border: 2px solid black;
    
}

input:hover{
    border: 1px solid black;
}



