* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  position: relative;
  box-shadow: 0px 5px 8px 0px #ccc;
  height: 80px;
  display: flex;
  justify-content: center;
}

.item-placering{
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 12px 2px;
}

.dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
}
.dark input:focus + label {
  top: -1px;
  background-color: #202c36;
  font-size: 12px;
  color: white;
  padding: 0px 5px;
}
.dark-mode:hover {
  background-color: var(--secondary);
}

.dark .dark-mode:hover {
  background-color: #374552;
}

.dark .dark-mode p {
  color: white;
}

.navbar h1 {
  font-weight: 500;
}
.navbar p {
  font-weight: 500;
}
.dark .navbar {
  background-color: #2b3844;
  box-shadow: none;
}

.dark .card {
  background-color: #2b3844;
}

.dark .card-list h1 {
  color: white;
}

.dark p {
  color: #ccc;
}

body.dark {
  background-color: #202c36;
}

.dark input {
  background-color: #202c36;
  border-color: white;
  color: white;
}

.dark input:hover {
  border-color: white;
}

.dark input:focus {
  border-color: white;
  outline: 2px solid white;
}

.dark .dropdown {
  background-color: #202c36;
  border-color: white;
  color: white;
}

.dark .dropdown:hover {
  border-color: white;
}

.dark .dropdown:focus {
  border-color: white;
}
.dark .menu {
  background-color: #2b3844;
}

.dark .dropdown.open .label,
.dark .dropdown.selected .label {
  background-color: #202c36;
  color: white;
}

.dark .dropdown-list-item:hover {
  background-color: #374552;
}

.dark .dropdown::after {
  content: "▼";
  transition: transform 0.3s ease;
  color: white;
  padding-left: 0px;
}

.dark .dropdown.open::after {
  color: white;
  content: "▲";
}

.dark .card:hover {
  background-color: #374552;
}

.dark h1 {
  color: white;
}
.dark .nav-link {
  color: #ccc;
}
.dark .nav-link:hover {
  background-color: #374552;
}

.dark .nav-link-back:hover {
  background-color: #374552;
}

.dark .icon {
  color: #ccc;
}

.light .icon {
  color: black;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  height: 60px;
}
